@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome !!</h1>
    <p> To my horrible sea sharp project.. haha.. get it? </p>
    <p>Here is a suitable meme </p>
    <img src="https://cdn.memes.com/up/87377581608170262/i/1627590009136.png" alt="fish">
    
</div>
