@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We don't respect privacy in the sea :C </p>
<img src="https://i.chzbgr.com/full/7531926784/h6C9CF4B7/i-call-them-extra-large-dolphins" alt="sea-panda">
